<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quarantine_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=52.147.200.137;Initial Catalog=Quarantine_Program;User ID=sa;Password=Aah51771#" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <Quarantine_Program.Properties.Settings>
   <setting name="deviesNo" serializeAs="String">
    <value>new</value>
   </setting>
  </Quarantine_Program.Properties.Settings>
 </userSettings>
</configuration>